/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'rusticoregular';
    src: url('../fonts/rustico-regular-webfont.woff2') format('woff2'),
         url('../fonts/rustico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/top-right-bg.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    overflow-x: hidden;
}

a,
mark,
main .hero-subheading,
footer h2 {
    color: #C62EBD;
}

main .hero-heading,
.content h2 {
    color: #1F75FF;
}

mark {
    background: none;
}

.aside-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    overflow: hidden;
    border-right: 1px solid #DFE1E6;
    background-color: white;
    z-index:4;
}

.aside-logo {
    width: 75px;
    margin: 25px auto 0 auto;
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(5deg);}
    50%{-webkit-transform: rotate(-2.5deg)}
    100%{-webkit-transform: rotate(5deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(5deg);}
    50%{transform: rotate(-2.5deg)}
    100%{transform: rotate(5deg);}
}
 
.gorilla-head{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 8s ease-in-out forwards infinite;
    animation: swinging 8s ease-in-out forwards infinite;
}

.aside-switch,
.nav-burger {
    width: 100px;
    height: 100px;
    margin: 0;
    text-align: center;
    line-height: 100px;
}


.aside-switch {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 32px;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    overflow: hidden;
    border-left: 1px solid #DFE1E6;
    background: white;
    z-index: 4;

}

.nav-icon{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: 12px;
    padding-top: 28px;
    text-align: center;
}

.nav-icon #toggle {
    display: none;
}

/**
  Hamburger
**/
.nav-icon .hamburger {
    position: absolute;
    cursor: pointer;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
}

.nav-icon .hamburger div {
    position: relative;
    width: 32px;
    height: 4px;
    background-color: black;
    margin-top: 4px;
    margin-left: 1px;
    transition: all 0.3s ease-in-out;
}

.nav-icon .hamburger span {
    line-height: 20px;
}

.nav-takeover {
    position: fixed;
    width: calc(100vw - 219px);
    height: 100%;
    background-color: white;
    top: 0;
    left: 125vw;
    bottom: 0;
    overflow: hidden;
    transition: left 0.3s ease-in-out;
    z-index: 2;
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 12px;
}
#toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -4px;
}

#toggle:checked + .hamburger + .nav-takeover {
    left: 101px;
}

nav ul.right-nav {
    height: 100vh;
    margin-top: 80px;
}

nav ul.right-nav li {
    list-style-type: none;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    width: 110px;
    height: 200px;
    margin-left: 46px;
}

.nav-takeover .nav-wrapper {
    margin-top: 400px;
}

.nav-takeover ul {
    list-style-type: none;
}

main {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
}

main:before {
    content:"";
    position: fixed;
    z-index: -1;
    top: 0;
    left: calc(50% - 25vw);
    border-left: 1px solid #DFE1E6;
    border-right: 1px solid #DFE1E6;
    height: 100vh;
    width: 50vw;
}

main:after {
    content:"";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 50%;
    border-left: 1px solid #DFE1E6;
    height: 100vh;
}

main .tagline {
    text-align: center;
    font-size: 14px;
    width: max-content;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: none;

}

section,
main h2 {
    background-color: rgba(255, 255, 255, 0.5);
}

.hero {
    background: none;
}

.hero-heading {
    font-size: 60px;
    margin-top: 210px;
    margin-bottom: 25px;
    font-weight: 600;
    width: max-content;
}

.hero-subheading {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 600;
}

.handle-box-container {
    width:1px;
    margin:auto auto;
}

.handle-box {
    width: max-content;
    border: 1px solid #C62EBD;
    padding: 10px 30px;
    font-size: 24px;
    line-height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 10px 12px 24px 0px rgba(237,237,237,1);
    -moz-box-shadow: 10px 12px 24px 0px rgba(237,237,237,1);
    box-shadow: 10px 12px 24px 0px rgba(237,237,237,1);

}

.handle {
    width: 6px;
    height: 6px;
    border: 1px solid #C62EBD;
    background: white;
    position: absolute;
}

.handle-n {
    top: -4px;
    left: calc(50% - 2px);
}

.handle-ne {
    top: -4px;
    right: -4px;
}

.handle-e {
    top: calc(50% - 2px);
    right: -4px;
}

.handle-se {
    bottom: -4px;
    right: -4px;
}

.handle-s {
    bottom: -4px;
    left: calc(50% - 2px);
}

.handle-sw {
    bottom: -4px;
    left: -4px;
}

.handle-w {
    left: -4px;
    top: calc(50% - 2px);
}

.handle-nw {
    top: -4px;
    left: -4px;
}

.content .handle-box h2 {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 40px;
}

.hero .handle-box {
    margin-left: -240px;
    margin-top: 0;
    width: 702px;
}

.content-dark {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background: #101010;
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 52px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.content-dark p {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  
    background: linear-gradient(to right, #7ef2cf 20%, #C62EBD 40%, #1F75FF 60%, #7ef2cf 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 6s linear infinite;
            animation: shine 6s linear infinite;
}
@-webkit-keyframes shine {
    to {
        background-position: 200% center;
    }
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.content h2 {
    font-family: 'rusticoregular', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    margin-top: 110px;
    padding: 10px;
}

footer h2,
footer h3 {
    text-align: center;
}

footer h2 {
    font-family: 'rusticoregular', cursive;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

footer h3 {
    font-size: 12px;
    letter-spacing: 2.21px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}